/**
 * ----------------------------------------
 * en tete du main
 * ----------------------------------------
 */

.Reserv{
    padding: 4rem;
    text-align: center;
    background-color: $BackroungColor2;

    &__title{
        margin: -30px 0 0 0; 
    }

    &__subtitle{
        font-weight: 300;
        margin: 1.5rem -16px;
        padding-bottom: 1rem;
    }

    &__btn{
        border: 0;
        padding: 1rem 1.5rem;
        font-weight: 1.5rem;
        font-size: 1rem;
        border-radius: 100px;
        color: white;
        background: $linear-gradient;
        cursor: pointer;
        &:hover {
            transform: scale(1.15);
            -webkit-animation: shadow-drop-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: shadow-drop-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }
}
/**
 * ----------------------------------------
 * partit Fonction de recherche
 * ----------------------------------------
 */
.fonct{
    margin-top: 50px;
    margin-bottom: 70px;
    padding-left: 1.5rem;
    
    &__etapes{
        list-style-type: none;
        &--btn{
            display: flex;
            align-items: center;
            background: $BackroungColor2;
            border-radius: 25px 25px 25px 25px;
            margin-top: 30px;
            margin-right: 60px;
            margin-left: -30px;
            width: 100%;
            height: 70px;
            box-shadow: 3px 3px 20px 3px rgba(158,158,158,0.67);
            cursor: pointer;
            &:hover{
                background: #D4C3E9;
            }
        }
        &--number{
            background: $ColorPrimary;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            position: absolute;
            left: 23px;
        }
        &--icons{
            padding-left: 28px;
            padding-right: 20px;
            color: grey;
            &:hover {
                color: $ColorPrimary;
            }   
        }
    }
}
/**
 * ----------------------------------------
 * Carte Restaurant
 * ----------------------------------------
 */
.restaurant{
    background-color: $BackroungColor2 ;
    &__titre{
        padding: 30px 0px 0px 25px;
        font-size: 20px;
    }
}
.card{
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    margin: 20px;
    position: relative;
    background: #fff;
}
.card img{
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    height: 100%;
    max-height: 220px;
}
.card figure{
    margin: 0;
}
.card figcaption{
    
}
