#fountainTextG{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #FFF;
	opacity: 1;
	left: 0;
	top: 0;
	z-index: 10000;
	-webkit-animation: fountainTextG 3s linear forwards;
	        animation: fountainTextG 3s linear forwards;
}
.PlacementLoader{
	@include flex-centre;
    margin-top: 290px;
}
.fountainTextG{
	color:rgb(169,68,189);
	font-family:"Shrikhand";
	font-size:55px;
	text-decoration:none;
	font-weight:normal;
	font-style:normal;
	float: left;
	-webkit-animation: bounce_fountainTextG 3s forwards;
	        animation: bounce_fountainTextG 3s forwards;
	animation-name:bounce_fountainTextG;
		-o-animation-name:bounce_fountainTextG;
		-ms-animation-name:bounce_fountainTextG;
		-webkit-animation-name:bounce_fountainTextG;
		-moz-animation-name:bounce_fountainTextG;
	animation-duration:3s;
		-o-animation-duration:3s;
		-ms-animation-duration:3s;
		-webkit-animation-duration:3s;
		-moz-animation-duration:3s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.5);
		-o-transform:scale(.5);
		-ms-transform:scale(.5);
		-webkit-transform:scale(.5);
		-moz-transform:scale(.5);
}#fountainTextG_1{
	animation-delay:0.43s;
		-o-animation-delay:0.43s;
		-ms-animation-delay:0.43s;
		-webkit-animation-delay:0.43s;
		-moz-animation-delay:0.43s;
}
#fountainTextG_2{
	animation-delay:0.72s;
		-o-animation-delay:0.72s;
		-ms-animation-delay:0.72s;
		-webkit-animation-delay:0.72s;
		-moz-animation-delay:0.72s;
}
#fountainTextG_3{
	animation-delay:1s;
		-o-animation-delay:1s;
		-ms-animation-delay:1s;
		-webkit-animation-delay:1s;
		-moz-animation-delay:1s;
}
#fountainTextG_4{
	animation-delay:1.29s;
		-o-animation-delay:1.29s;
		-ms-animation-delay:1.29s;
		-webkit-animation-delay:1.29s;
		-moz-animation-delay:1.29s;
}
#fountainTextG_5{
	animation-delay:1.57s;
		-o-animation-delay:1.57s;
		-ms-animation-delay:1.57s;
		-webkit-animation-delay:1.57s;
		-moz-animation-delay:1.57s;
}
#fountainTextG_6{
	animation-delay:1.86s;
		-o-animation-delay:1.86s;
		-ms-animation-delay:1.86s;
		-webkit-animation-delay:1.86s;
		-moz-animation-delay:1.86s;
}
#fountainTextG_7{
	animation-delay:2.15s;
		-o-animation-delay:2.15s;
		-ms-animation-delay:2.15s;
		-webkit-animation-delay:2.15s;
		-moz-animation-delay:2.15s;
}
#fountainTextG_8{
	animation-delay:2.43s;
		-o-animation-delay:2.43s;
		-ms-animation-delay:2.43s;
		-webkit-animation-delay:2.43s;
		-moz-animation-delay:2.43s;
}











.header {
    padding: $appPadding 0;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1000;
    
	&__lien {
        text-decoration: none;
    }
    &__logo {
    font-family: "Shrikhand", "cursive";
    margin: 0;
    text-align: center;
    color: black;
    
    }
	
}

.local{
    @include flex-centre;
    padding: 1.25rem $appPadding;
    background-color: $BackroungColor;
    font-size: 1.2rem;
    position: relative;

    &__icon{
        padding-right: $appPadding;
    }

    &__text{
        font-weight: 700;
    }
	
}