.fa-arrow-left{
    position: absolute;
    left: 1rem;
    bottom: 1.7rem;
    font-size: 23px;
}

.imagedeFond{
    width: 100%;
    height: auto;
    & img{
        width: 100%;
        height: 175px;
        object-fit: cover;
    }
}

h2{
    font-family: "Shrikhand", "cursive";
    padding-left: 1rem;
}

.menu{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    border-radius: 46px 46px 0 0;
    background-color: rgb(221, 220, 220);
    position: relative;
    top: -3rem;
    width: 100%;
    & h3 {
        margin-top: 12px;
        margin-bottom: 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    & p {
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &__entete{
        display: flex;
        justify-content: space-between;
    }
    &__titre{
        padding-top: 1rem;
        font-size: 28px;
        margin-bottom: 15px;
        &--coeur{
            margin-top: 2.5rem;
            margin-right: 1.5rem;
            cursor: pointer;
            & .coeur2{
                @include animHeart;
            }
        }
    }
    &__complet__entree h2{
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            font-size: 20px;
            border-bottom: #99E2D0 4px solid;
            width: 3rem;
            padding-left: 0px;
            padding-bottom: 4px;
            margin-left: 20px;
        }
    &__complet__presentation{
        
        &__confirmation{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $ColorTertiary;
            margin-right: -64px;
            min-width: 4rem;
        }
        @at-root &--animation1:hover &__confirmation{
            margin-right: 0px;
            min-width: 4rem;
            transition: margin-right 0.5s;
        }
        &--animation1{
            @include carteResto;
            -webkit-animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
            animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
        }
        &--animation2{
            @include carteResto;
            -webkit-animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
            animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3.4s both;
        }
        @at-root &--animation2:hover &__confirmation{
            margin-right: 0px;
            min-width: 4rem;
            transition: margin-right 0.5s;
        }
        &--animation3{
            @include carteResto;
            -webkit-animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
            animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3.8s both;
        }
        @at-root &--animation3:hover &__confirmation{
            margin-right: 0px;
            min-width: 4rem;
            transition: margin-right 0.5s;
        }
    }
}

.cercle{
    background-color: #fff;
    @include flex-centre;
    align-self: center;
    border-radius: 100px;
    width: 29px;
    height: 29px;
    color: $ColorTertiary;
}

.carte__prix{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 100%;
}



