@mixin flex-centre {
    display: flex;
    justify-content: center;
}

@mixin card{
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    margin: 20px;
    position: relative;
    background: #fff;
}

@mixin card-img{
    
}

