$ColorPrimary: #9356DC;
$ColorSecondary: #FF79DA;
$ColorTertiary: #99E2D0;
$BackroungColor: rgba(224, 220, 220, 0.925);
$BackroungColor2: rgba(236, 235, 235, 0.904);
$appPadding: 1rem;
$linear-gradient: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);